body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  cursor: url(http://68.media.tumblr.com/9a4822e68993438e5d7e2c12771368f4/tumblr_inline_mfzguogCaB1qbs47q.png), auto;
  background-image: url(http://orig05.deviantart.net/07c7/f/2014/046/e/2/steven_universe_cookie_cat_background_1_by_hi_how_are_you-d76oft5.png);
}

h1 {
  font-family: "Baloo Bhaina";
  text-align: center;
  margin: auto;
}

#pixelPainter {
  position: fixed;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #000;
  background-color: rgba(255,255,255,0.9);
}

#innerContainer {
}

#swatch{
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px 0px 10px;
  height: 150px;
  width: 150px;
  text-align: center;
}

#canvas {
  margin: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 490px;
  height: 490px;
  border: none;
  border-left: 1px solid #bfbfbf ;
  border-top: 1px solid #bfbfbf ;
}

#tools {
  margin: auto;
  height: 50px;
  width: 100%;
}

#showCurrentColor {
  margin: 10px 5px 0px 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  background-color: #fff;
}

.grid {
  margin: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.cols {
  display: inline-block;
  height: 100%;
  width: 1%;
  border: none;
  border-right: 1px solid #bfbfbf ;
}

.cells {
  display: inline-block;
  float: left;
  height: 1%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bfbfbf ;
}

.colorGrid {
  margin: auto;
  overflow: hidden;
  width: 150px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #000;
}

.colorCols {
  display: inline-block;
  height: 20%;
  width: 20%;
}

.colorCells {
  height: 100%;
  width: 100%;
}

.colorCells:hover {
  border: 1px solid #fff;
}

.button {
  display: inline-block;
  cursor: url(http://68.media.tumblr.com/9a4822e68993438e5d7e2c12771368f4/tumblr_inline_mfzguogCaB1qbs47q.png), auto;
  margin: 0px;
}